<% @rows.times do |y| %>
  <div class="row sound-row">
    <% 12.times do |x| %>
      <div class="col-md-1 sound-col">
        <% if @board.isInEditMode %>
          <% exists = false %>
          <% @sounds.each do |sound| %>
            <% if sound.xPos == x && sound.yPos == y %>

              <%= link_to edit_sound_path(:board => @board.id, :xPos => x, :yPos => y, :id => sound.id) do %>
                <div class="sound-space sound-edit">
                  <h4><%= sound.name %></h4>
                </div>
              <% end %>

              <% exists = true %>
            <% end %>
          <% end %>

          <% if !exists %>
            <%= link_to new_sound_path(:board => @board.id, :xPos => x, :yPos => y) do %>
                <div class="sound-space sound-edit">

                </div>
            <% end %>
          <% end %>

        <% else %>
            <% exists = false %>
            <% @sounds.each do |sound| %>
              <% if sound.xPos == x && sound.yPos == y %>
                <div class="sound-space">
                  <%= audio_tag(sound.sound.url, :class => 'sound-space-audio') do %>
                  <% end %>
                  <h4><%= sound.name %></h4>
                </div>
                <% exists = true %>
              <% end %>
            <% end %>

            <% if !exists %>
              <div class="sound-space">

              </div>
            <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
<script>
$(document).ready(function(){
  $('.sound-space').click(function(){
    this.children[0].play();
  });
})
</script>