<!DOCTYPE html>
<html>
<head>
  <title>Soundboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <div id="nav" class="row">
    <div class="col-md-1">
      <%= link_to 'Soundboards', boards_path, { :id => 'btn-soundboards' , :class => 'btn btn-secondary' } %>
    </div>
    <div class="col-md-1">
      <% if @board != nil %>
        <% if @board.isInEditMode %>
            <%= link_to 'Edit mode', toggle_board_path(@board.id), { :id => 'btn-edit-mode' , :class => 'btn btn-danger' } %>
        <% elsif @board.id != nil %>
            <%= link_to 'Edit mode', toggle_board_path(@board.id), { :id => 'btn-edit-mode' , :class => 'btn btn-success' } %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-8">
      <% if @board != nil %>
          <h2 id="board-title"><%= @board.name %></h2>
      <% end %>
    </div>
    <div class="col-md-2">

    </div>
  </div>
</div>

<div class="container">
  <%= render partial: "shared/flash_messages", flash: flash %>
</div>

<%= yield %>

</body>
</html>
